### IMPORT SNOWFLAKE SESSION, FUNCTIONS, DATA TYPES AND OTHER PYTHON LIBRARIES

In [1]:
# Import required libraries
from snowflake.snowpark.session import Session
from snowflake.snowpark.functions import avg, sum, col,lit
from snowflake.snowpark.functions import udf, sproc, col
from snowflake.snowpark.types import IntegerType, FloatType, LongType, DoubleType, DecimalType,StringType, BooleanType, Variant
from snowflake.snowpark.types import PandasSeries, PandasDataFrame
from snowflake.snowpark import functions as fn

import pandas as pd
import numpy as np
import json

from snowflake.snowpark import version
print (f"snowflake snowpark version is: {version.VERSION}")

snowflake snowpark version is: (0, 10, 0)

### SET UP SNOWFLAKE CONNECTION USING THE CREDENTIALS & PRINT CURRENT DB, SCHEMA AND WAREHOUSE

In [2]:
snowflake_connection_cfg = open('cred.json')
snowflake_connection_cfg = snowflake_connection_cfg.read()
snowflake_connection_cfg = json.loads(snowflake_connection_cfg)

# Creating Snowpark Session
spe_session = Session.builder.configs(snowflake_connection_cfg).create()
print('Current Database:', spe_session.get_current_database())
print('Current Schema:', spe_session.get_current_schema())
print('Current Warehouse:', spe_session.get_current_warehouse())

Current Database: "BANK1_CRM_DB"
Current Schema: "PUBLIC"
Current Warehouse: "APP_WH"

### REMOVE ALL IMPORTS AND PACKAGES IN CURRENT SESSION AND ADD THE NEEDED PACKAGES INCLUDING SNOWFLAKE-SNOWFPARK FOR PYTHON

In [3]:
spe_session.clear_imports()
spe_session.clear_packages()
spe_session.add_packages("snowflake-snowpark-python")
spe_session.add_packages("scikit-learn","pandas","numpy","joblib","cachetools")

### CREATE A NEW INTERNAL SNOWFLAKE STAGE LOCATION TO SAVE THE MODEL FILE LATER

In [4]:
spe_session.sql("CREATE OR REPLACE STAGE knadadur_models").collect()

[Row(status='Stage area KNADADUR_MODELS successfully created.')]

In [5]:
spe_session.sql("list @knadadur_models").collect()

[]

### CREATE A NEW INTERNAL SNOWFLAKE STAGE LOCATION TO SAVE THE INPUT DATA FILE

In [6]:
spe_session.sql("CREATE STAGE IF NOT EXISTS knadadur_data").collect()

[Row(status='KNADADUR_DATA already exists, statement succeeded.')]

### MAKE SURE YOU LOCATE LOCAL DATA FILE AND LOAD IT TO INTERNAL STAGE

In [7]:
folder_path = "/Users/knadadur/Documents/Snowparkusecases/SoftwareProjectEstimation/"
input_file = "softwareprojectsdata.csv"
input_data = folder_path+input_file
input_data

'/Users/knadadur/Documents/Snowparkusecases/SoftwareProjectEstimation/softwareprojectsdata.csv'

In [8]:
spe_session.sql("put file:///Users/knadadur/Documents/Snowparkusecases/SoftwareProjectEstimation/softwareprojectsdata.csv @knadadur_data").collect();

In [9]:
pd.read_csv(input_file)

,id,Project,TeamExp,ManagerExp,YearEnd,Length,Effort,Transactions,Entities,PointsNonAdjust,Adjustment,PointsAjust,Language
0,1,1,1,4,85,12,5152,253,52,305,34,302,1
1,2,2,0,0,86,4,5635,197,124,321,33,315,1
2,3,3,4,4,85,1,805,40,60,100,18,83,1
3,4,4,0,0,86,5,3829,200,119,319,30,303,1
4,5,5,0,0,86,4,2149,140,94,234,24,208,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,77,77,4,4,85,12,1400,229,169,398,39,414,3
77,78,78,4,3,83,12,2800,227,73,300,34,297,1
78,79,79,4,4,82,24,9520,395,193,588,40,617,1
79,80,80,4,3,86,12,5880,469,176,645,43,697,3
80,81,81,4,4,85,36,23940,886,241,1127,34,1116,1

### CHECK IF THE FILE HAS BEEN UPLOADED TO INTERNAL STAGE

In [10]:
spe_session.sql("list @knadadur_data").collect()

[Row(name='knadadur_data/EcommerceCustomers.csv.gz', size=33792, md5='57705477516e68ab8b3c8401a73deb8c', last_modified='Thu, 3 Nov 2022 17:13:04 GMT'),
 Row(name='knadadur_data/softwareprojectsdata.csv.gz', size=1664, md5='54d6a4fb52738250c895b3e18b47df36', last_modified='Mon, 7 Nov 2022 19:33:43 GMT')]

### CREATE A TABLE IN DATABASE AS WE KNOW THE STRUCTURE

In [11]:
spe_session.sql("CREATE OR REPLACE table SOFTWARE_PROJECTS (ID VARCHAR,PROJECT VARCHAR,TEAMEXP NUMBER,MANAGEREXP NUMBER,YEAREND NUMBER,LENGTH NUMBER,EFFORT NUMBER,TRANSACTIONS NUMBER,ENTITIES NUMBER,POINTNONADJUST NUMBER,ADJUSTMENT NUMBER,POINTSADJUST NUMBER,LANGUAGE NUMBER)").collect()

[Row(status='Table SOFTWARE_PROJECTS successfully created.')]

### NOW LET'S LOAD THE DATA FROM INTERNAL STAGE TO THE software_projects DATABASE TABLE IN SNOWFLAKE

In [12]:
spe_session.sql("copy into SOFTWARE_PROJECTS from @knadadur_data/softwareprojectsdata.csv.gz ON_ERROR = CONTINUE").collect()

[Row(file='knadadur_data/softwareprojectsdata.csv.gz', status='PARTIALLY_LOADED', rows_parsed=82, rows_loaded=81, error_limit=82, errors_seen=1, first_error="Numeric value 'TeamExp' is not recognized", first_error_line=1, first_error_character=13, first_error_column_name='"SOFTWARE_PROJECTS"["TEAMEXP":3]')]

### CHECK THE DATA AND CHECK SOME STATS

In [13]:
snowpark_df = spe_session.table('SOFTWARE_PROJECTS')

# Describing the data
print('Rows in dataset:', f"{snowpark_df.count():,}")
print('Data before imputation:')
display(snowpark_df.describe().sort('SUMMARY').toPandas())

Rows in dataset: 81
Data before imputation:

,SUMMARY,ID,PROJECT,TEAMEXP,MANAGEREXP,YEAREND,LENGTH,EFFORT,TRANSACTIONS,ENTITIES,POINTNONADJUST,ADJUSTMENT,POINTSADJUST,LANGUAGE
0,count,81,81,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
1,max,9,9,4.000000,7.000000,88.000000,39.000000,23940.000000,886.000000,387.000000,1127.000000,52.000000,1116.000000,3.000000
2,mean,None,None,2.185185,2.530864,85.740741,11.666667,5046.308642,182.123457,122.333333,304.456790,27.629630,289.234568,1.555556
3,min,1,1,-1.000000,-1.000000,82.000000,1.000000,546.000000,9.000000,7.000000,73.000000,5.000000,62.000000,1.000000
4,stddev,None,None,1.415195,1.643825,1.222475,7.424621,4418.767228,144.035098,84.882124,180.210159,10.591795,185.761088,0.707107

In [14]:
snowpark_df.schema.fields

[StructField('ID', StringType(), nullable=True),
 StructField('PROJECT', StringType(), nullable=True),
 StructField('TEAMEXP', LongType(), nullable=True),
 StructField('MANAGEREXP', LongType(), nullable=True),
 StructField('YEAREND', LongType(), nullable=True),
 StructField('LENGTH', LongType(), nullable=True),
 StructField('EFFORT', LongType(), nullable=True),
 StructField('TRANSACTIONS', LongType(), nullable=True),
 StructField('ENTITIES', LongType(), nullable=True),
 StructField('POINTNONADJUST', LongType(), nullable=True),
 StructField('ADJUSTMENT', LongType(), nullable=True),
 StructField('POINTSADJUST', LongType(), nullable=True),
 StructField('LANGUAGE', LongType(), nullable=True)]

## HERE IS WHERE WE USE THE POWER OF SNOWFLAKE WHERE WE PUSH DOWN MODEL TRAINING TO SNOWFLAKE AND SNOWFLAKE CREDITS WILL BE CONSUMED. MAKE SURE YOUR WAREHOUSE IS RIGHTLY SIZED FOR THE VOLUME OF DATA YOU ARE TRAINING THE MODEL.

### DEFINE THE TRAINING MODEL AND FOR THIS USE CASE LET'S USE SKLEARN'S LINEAR REGRESSION MODEL and K Nearest Neighbor model.

In [15]:
features = ['TEAMEXP','MANAGEREXP','YEAREND','LENGTH','TRANSACTIONS','ENTITIES','POINTNONADJUST','ADJUSTMENT','POINTSADJUST','LANGUAGE']

In [16]:
# This local Python-function will be registered as a Stored Procedure

def spec_train_lm_model(session: Session, training_table: str, sample_size_n: int, model_name: str,features:list) -> Variant:
    # Loading data into pandas dataframe
    local_training_data = session.table(training_table).sample(n=sample_size_n).toPandas()

    # Define features and label
    X = local_training_data[features]
    Y = local_training_data['EFFORT']

    # Splitting data into training and test
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=22)

    # Actual model training
    from sklearn.linear_model import LinearRegression
    lm = LinearRegression()
    lm.fit(X_train,y_train)
    
    # Getting model coefficients
    coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
    # Save model as file and upload to Snowflake stage
    from joblib import dump, load
    dump(lm, '/tmp/'+model_name)
    session.file.put('/tmp/'+model_name, '@knadadur_models', auto_compress=False)
    return lm.score(X_test, y_test)
    return coeff_df.to_dict()

In [17]:
# This local Python-function will be registered as a Stored Procedure

def spec_train_knn_model(session: Session, training_table: str, sample_size_n: int, model_name: str,features:list) -> Variant:
    # Loading data into pandas dataframe
    local_training_data = session.table(training_table).sample(n=sample_size_n).toPandas()

    # Define features and label
    X = local_training_data[features]
    Y = local_training_data['EFFORT']

    # Splitting data into training and test
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=30)

    # Actual model training
    from sklearn.neighbors import KNeighborsRegressor
    knn = KNeighborsRegressor(n_neighbors=3, weights='uniform')
    knn.fit(X_train,y_train)
    
    # Save model as file and upload to Snowflake stage
    from joblib import dump, load
    dump(knn, '/tmp/'+model_name)
    session.file.put('/tmp/'+model_name, '@knadadur_models', auto_compress=False)

    # Getting model score
    return knn.score(X_test, y_test)

### REGISTER THE "MODEL TRAINING" AS "STORED PROCEDURE" IN SNOWFLAKE USING THE DEFINED FUNCTION ABOVE

In [18]:
# Registering the function as a Stored Procedure
spec_linear_model_sproc = spe_session.sproc.register(func=spec_train_lm_model, # training function defined above
                                            name='spec_train_lm_model', # training model name to be registered in snowlake
                                            is_permanent=True, # permanent stored proc
                                            replace=True, # replace if existing already
                                            stage_location='@knadadur_models', # save the model in stage location
                                            packages=['snowflake-snowpark-python','scikit-learn','joblib']) 
                                                                        # import model libaries

In [20]:
# Registering the function as a Stored Procedure
spec_knn_sproc = spe_session.sproc.register(func=spec_train_knn_model, # training function defined above
                                            name='spec_train_knn_model', # training model name to be registered in snowlake
                                            is_permanent=True, # permanent stored proc
                                            replace=True, # replace if existing already
                                            stage_location='@knadadur_models', # save the model in stage location
                                            packages=['snowflake-snowpark-python','scikit-learn','joblib']) 
                                                                        # import model libaries

### EXECUTE THE MODEL TRAINING FROM THE NOTEBOOK. 
### THIS EXECUTION IS PUSHED DOWN TO SNOWFLAKE AND THE CREDITS WILL BE CONSUMED.
### CHECK THE SCORES FROM EACH MODEL

In [21]:
# Execute the Stored Procedure to train a model and display coefficients
# spec_lm_coefficients = spec_linear_model_sproc('software_projects',100, 'spec_train_lm_model.sav',features)
#avoid passing the session parameter as remembers from the stored proc registered
#pass the train_set , data limit and the model file name to be saved
# display(pd.DataFrame(eval(spec_lm_coefficients)))
spec_lm_score = spec_linear_model_sproc('software_projects',100, 'spec_train_lm_model.sav',features)
print (f"Linear Regression Model Score : {spec_lm_score}")

Linear Regression Model Score : 0.8524016655488438

In [22]:
# Execute the Stored Procedure to train a model and display coefficients
spec_knn_score = spec_knn_sproc('software_projects',100, 'spec_train_knn_model.sav',features)
#avoid passing the session parameter as remembers from the stored proc registered
#pass the train_set , data limit and the model file name to be saved
print (f"k nearest neighbor Model Score : {spec_knn_score}")

k nearest neighbor Model Score : 0.7450919920378207

# We find out that linear regression model has outperformed knearest neighbor on predicting the unexposed test set but let's use both for now

### CHECK IF THE MODEL FILES ARE CREATED

In [24]:
spe_session.sql("list @knadadur_models").collect()

[Row(name='knadadur_models/spec_train_knn_model.sav', size=7824, md5='2a9e41539e14de9c64792a9bc63ced1c', last_modified='Tue, 8 Nov 2022 21:59:22 GMT'),
 Row(name='knadadur_models/spec_train_lm_model.sav', size=1120, md5='936fd193ee2b209e35d3d64117789a92', last_modified='Tue, 8 Nov 2022 21:59:17 GMT')]

## NOW THAT THE MODEL HAS BEEN TRAINED USING SNOWFLAKE STORED PROC AND THE MODEL FILE IS NOW SAVED IN THE STAGING ENVIRONMENT LET'S TRY TO INFER FROM THE MODEL TO PREDICT

### IMPORT THE LIBRARIES REQUIRED FOR INFERENCE

In [25]:
from snowflake.snowpark.functions import pandas_udf
from cachetools import cached

### DEFINE THE INFERENCE TO PREDICT FROM THE MODEL SAVED IN THE INTERNAL STAGE DIRECTORY IN SNOWFLAKE

In [26]:
@cached(cache={})
def load_model(model_path: str) -> object:
    from joblib import load
    model = load(model_path)
    return model
### define the datatypes for the number of input variables here in score_model function
def score_model(df: PandasDataFrame[int,int,int,int,int,int,int,int,int,int]) -> PandasSeries[float]:
    import os
    import sys
    IMPORT_DIRECTORY_NAME = "snowflake_import_directory"
    import_dir = sys._xoptions[IMPORT_DIRECTORY_NAME]
    model_name = 'spec_train_lm_model.sav'
    model = load_model(import_dir+model_name)
    return pd.Series(model.predict(df))

### DEFINE THE MODEL INFERENCE IN A USER DEFINED FUNCTION (UDF)

In [27]:
lm_model_udf = pandas_udf(func=score_model, 
                           name="spec_lm_prediction_vec", 
                           stage_location='@knadadur_models',
                           replace=True, 
                           is_permanent=True, 
                           imports=['@knadadur_models/spec_train_lm_model.sav'],
                           packages=['scikit-learn==1.0.2','pandas','joblib','cachetools'], 
                           max_batch_size=100, 
                           session=spe_session)

The version of package scikit-learn in the local environment is 1.1.2, which does not fit the criteria for the requirement scikit-learn==1.0.2. Your UDF might not work when the package version is different between the server and your local environment

In [28]:
@cached(cache={})
def load_model(model_path: str) -> object:
    from joblib import load
    model = load(model_path)
    return model
### define the datatypes for the number of input variables here in score_model function
def score_knn_model(df: PandasDataFrame[int,int,int,int,int,int,int,int,int,int]) -> PandasSeries[float]:
    import os
    import sys
    IMPORT_DIRECTORY_NAME = "snowflake_import_directory"
    import_dir = sys._xoptions[IMPORT_DIRECTORY_NAME]
    model_name = 'spec_train_knn_model.sav'
    model = load_model(import_dir+model_name)
    return pd.Series(model.predict(df))

In [29]:
knn_model_udf = pandas_udf(func=score_knn_model, 
                           name="spec_knn_prediction_vec", 
                           stage_location='@knadadur_models',
                           replace=True, 
                           is_permanent=True, 
                           imports=['@knadadur_models/spec_train_knn_model.sav'],
                           packages=['scikit-learn==1.0.2','pandas','joblib','cachetools'], 
                           max_batch_size=100, 
                           session=spe_session)

The version of package scikit-learn in the local environment is 1.1.2, which does not fit the criteria for the requirement scikit-learn==1.0.2. Your UDF might not work when the package version is different between the server and your local environment

In [30]:
pd.options.display.max_rows = 200

### CALL THE INFERENCE LIKE HOW YOU WOULD ON A SIMPLE SQL STATEMENT USING THE inference udfs that were defined previously FOR both linear regression and knearestneighbor models to compare

In [31]:
output = snowpark_df.limit(10000).select('ID',
                                         'PROJECT',
                                         fn.col('EFFORT').alias('ACTUAL_EFFORT'),
                                         lm_model_udf(*features).alias('lm_PREDICTED_EFFORT'), # calling the model running in Snowflake (user-defined function)
                                         knn_model_udf(*features).alias('knn_PREDICTED_EFFORT'), # calling the model running in Snowflake (user-defined function)
                                        (lm_model_udf(*features) - fn.col('ACTUAL_EFFORT')).alias('lm_DELTA'),                                      
                                        (knn_model_udf(*features) - fn.col('ACTUAL_EFFORT')).alias('knn_DELTA'),
                                       *features
                                     ).toPandas()
output

,ID,PROJECT,ACTUAL_EFFORT,LM_PREDICTED_EFFORT,KNN_PREDICTED_EFFORT,LM_DELTA,KNN_DELTA,TEAMEXP,MANAGEREXP,YEAREND,LENGTH,TRANSACTIONS,ENTITIES,POINTNONADJUST,ADJUSTMENT,POINTSADJUST,LANGUAGE
0,1,1,5152,6659.309662,4911.666667,1507.309662,-240.333333,1,4,85,12,253,52,305,34,302,1
1,2,2,5635,5070.945796,5196.333333,-564.054204,-438.666667,0,0,86,4,197,124,321,33,315,1
2,3,3,805,2193.209088,1753.666667,1388.209088,948.666667,4,4,85,1,40,60,100,18,83,1
3,4,4,3829,4832.899026,5196.333333,1003.899026,1367.333333,0,0,86,5,200,119,319,30,303,1
4,5,5,2149,3494.044586,2648.333333,1345.044586,499.333333,0,0,86,4,140,94,234,24,208,1
5,6,6,2821,4086.091953,3875.666667,1265.091953,1054.666667,0,0,86,4,97,89,186,38,192,1
6,7,7,2569,1305.083561,2020.666667,-1263.916439,-548.333333,2,1,85,9,119,42,161,25,145,2
7,8,8,3913,4422.885905,2977.333333,509.885905,-935.666667,1,2,83,13,186,52,238,25,214,1
8,9,9,7854,4615.799017,6456.333333,-3238.200983,-1397.666667,3,1,85,12,172,88,260,30,247,1
9,10,10,2422,2484.951404,2596.000000,62.951404,174.000000,3,4,83,4,78,38,116,24,103,1
10,11,11,4067,5177.048376,6127.333333,1110.048376,2060.333333,4,1,84,21,167,99,266,24,237,1
11,12,12,9051,6530.791791,7569.333333,-2520.208209,-1481.666667,2,1,84,17,146,112,258,40,271,1
12,13,13,2282,2177.413141,1753.666667,-104.586859,-528.333333,1,1,84,3,33,72,105,19,88,1
13,14,14,4172,4742.469246,2977.333333,570.469246,-1194.666667,3,4,85,8,162,61,223,32,216,1
14,15,15,4977,5497.718782,8731.333333,520.718782,3754.333333,4,4,85,9,223,121,344,28,320,1
15,16,16,1617,1342.830991,2391.666667,-274.169009,774.666667,3,2,85,8,119,48,167,26,152,2
16,17,17,3192,3355.503102,2596.000000,163.503102,-596.000000,4,3,85,8,57,43,100,43,108,1
17,18,18,3437,5497.716670,3698.333333,2060.716670,261.333333,4,4,86,14,68,316,384,20,326,2
18,19,19,4494,6831.530797,3824.333333,2337.530797,-669.666667,3,4,87,14,9,386,395,21,340,2
19,20,20,840,2285.650194,2011.333333,1445.650194,1171.333333,4,2,86,5,58,34,92,29,86,1
20,21,21,14973,8144.723767,14424.666667,-6828.276233,-548.333333,4,4,86,12,318,269,587,34,581,2
21,22,22,5180,8026.520165,6409.666667,2846.520165,1229.666667,2,4,85,18,88,170,258,34,255,1
22,23,23,5775,7636.375884,8495.666667,1861.375884,2720.666667,2,4,86,5,306,132,438,37,447,1
23,24,24,10577,7906.465407,7049.000000,-2670.534593,-3528.000000,4,1,87,20,304,78,382,39,397,1
24,25,25,3983,7332.554806,4652.666667,3349.554806,669.666667,1,4,86,8,89,200,289,33,283,1
25,26,26,3164,6574.903488,6510.000000,3410.903488,3346.000000,4,1,85,14,86,230,316,33,310,1
26,27,27,3542,6086.751195,4652.666667,2544.751195,1110.666667,2,0,86,6,71,235,306,37,312,1
27,28,28,4277,9801.824535,13052.666667,5524.824535,8775.666667,3,1,85,14,148,324,472,39,491,1
28,29,29,7252,6675.526205,6489.000000,-576.473795,-763.000000,4,4,85,16,116,170,286,27,263,1
29,30,30,3948,8578.322539,6888.000000,4630.322539,2940.000000,4,1,85,14,175,277,452,37,461,1
30,31,31,3927,4156.600943,4188.333333,229.600943,261.333333,4,3,86,6,79,128,207,27,190,1
31,32,32,710,72.424951,1632.000000,-637.575049,922.000000,1,1,86,9,145,38,183,27,168,3
32,33,33,2429,2372.224231,6542.666667,-56.775769,4113.666667,4,4,87,9,174,78,252,41,267,3
33,34,34,6405,4703.357781,4344.666667,-1701.642219,-2060.333333,1,1,85,5,194,91,285,35,285,1
34,35,35,651,270.884741,1632.000000,-380.115259,981.000000,2,2,88,3,126,49,175,38,180,3
35,36,36,9135,7023.064271,8495.666667,-2111.935729,-639.333333,1,3,86,17,317,119,436,34,432,2
36,37,37,1435,2962.636357,5978.000000,1527.636357,4543.000000,2,4,87,11,289,88,377,28,351,3
37,38,38,5922,5369.004134,2919.000000,-552.995866,-3003.000000,-1,-1,87,8,260,144,404,24,360,1
38,39,39,847,579.790970,2431.333333,-267.209030,1584.333333,1,4,88,4,158,59,217,18,180,3
39,40,40,8050,9896.641667,11601.333333,1846.641667,3551.333333,3,3,88,16,302,145,447,52,523,2
40,41,41,4620,5863.150449,6510.000000,1243.150449,1890.000000,1,1,87,9,451,48,499,28,464,1
41,42,42,2352,7729.614999,7364.000000,5377.614999,5012.000000,2,4,87,34,661,132,793,23,698,3
42,43,43,2174,4286.604724,2596.000000,2112.604724,422.000000,1,1,88,10,64,54,118,25,106,1
43,44,44,19894,17957.170030,11729.666667,-1936.829970,-8164.333333,-1,4,86,39,284,230,514,50,591,1
44,45,45,6699,7254.791306,5672.333333,555.791306,-1026.666667,2,1,86,18,182,126,308,35,308,1
45,46,46,14987,10161.163587,7567.000000,-4825.836413,-7420.000000,2,3,87,27,173,332,505,19,424,1
46,47,47,4004,4599.998873,4356.333333,595.998873,352.333333,2,2,88,9,252,7,259,28,241,1
47,48,48,12824,8227.499076,6510.000000,-4596.500924,-6314.000000,4,3,85,11,131,180,311,51,361,1
48,49,49,2331,2938.327520,1817.666667,607.327520,-513.333333,2,3,85,8,106,39,145,6,103,1
49,50,50,5817,4661.450339,4188.333333,-1155.549661,-1628.666667,3,3,85,9,96,108,204,29,192,1
50,51,51,2989,3587.745304,2293.666667,598.745304,-695.333333,2,3,85,7,116,72,188,18,156,1
51,52,52,3136,3369.789082,2157.333333,233.789082,-978.666667,3,3,85,6,86,49,135,32,131,1
52,53,53,14434,7817.669659,8731.333333,-6616.330341,-5702.666667,2,3,85,17,221,121,342,35,342,1
53,54,54,2583,4590.061545,2086.000000,2007.061545,-497.000000,1,1,87,12,61,96,157,18,130,1
54,55,55,3647,2328.911022,2970.333333,-1318.088978,-676.666667,1,3,86,12,132,89,221,5,155,2
55,56,56,8232,6865.615545,7639.333333,-1366.384455,-592.666667,3,7,86,13,45,387,432,16,350,2
56,57,57,3276,2351.051847,2086.000000,-924.948153,-1190.000000,1,1,86,12,55,112,167,12,129,2
57,58,58,2723,2582.117485,2391.666667,-140.882515,-331.333333,1,4,87,8,124,52,176,14,139,2
58,59,59,3472,1860.164521,4223.333333,-1611.835479,751.333333,3,3,87,5,120,126,246,15,197,2
59,60,60,1575,1368.027013,1215.666667,-206.972987,-359.333333,1,2,87,6,47,32,79,14,62,2
60,61,61,2926,3023.234523,3672.666667,97.234523,746.666667,1,1,86,12,126,107,233,23,205,2
61,62,62,1876,703.287572,1866.666667,-1172.712428,-9.333333,3,2,86,6,101,45,146,15,117,2
62,63,63,2520,3076.615935,2697.333333,556.615935,177.333333,1,1,86,5,78,99,177,14,140,1
63,64,64,1603,5508.123355,1970.666667,3905.123355,367.666667,4,7,86,13,69,74,143,14,113,1
64,65,65,3626,4365.998880,4344.666667,739.998880,718.666667,1,3,86,8,194,97,291,35,291,2
65,66,66,6783,2751.304022,5196.333333,-4031.695978,-1586.666667,2,-1,87,10,224,110,334,28,309,2
66,67,67,11361,8284.267450,11601.333333,-3076.732550,240.333333,2,4,87,15,323,184,507,35,507,2
67,68,68,1267,1650.442983,1215.666667,383.442983,-51.333333,1,3,86,6,42,31,73,27,67,2
68,69,69,2548,1603.467318,2596.000000,-944.532682,48.000000,1,2,87,5,74,43,117,25,105,2
69,70,70,1155,2160.875997,1866.666667,1005.875997,711.666667,3,4,87,10,101,57,158,9,117,2
70,71,71,546,58.817584,1817.666667,-487.182416,1271.666667,0,4,86,6,97,42,139,6,99,3
71,72,72,2275,2193.787549,2970.333333,-81.212451,695.333333,2,3,84,13,134,77,211,13,165,2
72,73,73,9100,9233.223719,9753.333333,133.223719,653.333333,4,5,86,26,482,227,709,26,645,2
73,74,74,595,-1412.878666,4830.000000,-2007.878666,4235.000000,0,2,84,6,213,73,286,6,203,3
74,75,75,3941,4102.655715,6409.666667,161.655715,2468.666667,0,-1,84,22,139,143,282,22,245,2
75,76,76,13860,11498.865261,9753.333333,-2361.134739,-4106.666667,2,3,86,24,473,182,655,40,688,2
76,77,77,1400,4419.936104,4365.666667,3019.936104,2965.666667,4,4,85,12,229,169,398,39,414,3
77,78,78,2800,5097.874583,4785.666667,2297.874583,1985.666667,4,3,83,12,227,73,300,34,297,1
78,79,79,9520,11663.549684,9753.333333,2143.549684,233.333333,4,4,82,24,395,193,588,40,617,1
79,80,80,5880,7629.344440,9753.333333,1749.344440,3873.333333,4,3,86,12,469,176,645,43,697,3
80,81,81,23940,17501.088093,13384.000000,-6438.911907,-10556.000000,4,4,85,36,886,241,1127,34,1116,1

### TIME TO WRAP AND CLOSE THE SNOWFLAKE SESSION

In [ ]:
spe_session.close()
print('Finished!!!')

### It is hard to say which model is better on unexposed set and I would also try XGBOOST as a model to predict. However this is just the art of possible and I want to show how we can leverage snowpark to train the model by pushing down to snowflake using stored proc and then infer using simple SQL calling the UDF.